$primary: #ecf2f8;
$secondary: #48459e;
$loginbg: #b0a6eb;

$adminbg: #151d33;
$adminprimary: #292f45;
$adminsecondary: #292f45;
$adminsecondary2: #7466f1;

$xlFont: 24px;
$largeFont: 20px;
$mdFont: 16px;
$smallFont: 14px;
$xsFont: 12px;

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}
